.container {
  width: 900px;
  margin: 0 auto;
}

.board {
  border: 3px solid black;
  width: 542px;
  margin: 0 auto;
}

.tile {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  text-align: center;
  box-sizing: border-box;
}
